{% extends "shop/bases.html" %}
{% load static %}
{% load i18n %}

{% block content %}
 <h1>{% if category %}
    {% blocktrans with cat_name=category.name %}
    {{ cat_name }}
    {% endblocktrans %}
    {% else %}{% trans "Products" %}{% endif %}
 </h1>
 <div class='row text-center p-2 py-3'>
    {% for product in products %} 
    <div class='col-md-3 col-sm-6 item'>
      <div class="card border-0 bg-white text-light" style="height: 17rem;">
          <div class="card-body bg-transparent text-center">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="/" width="100" height="150" class="card-img-top">
            <a href="{{ product.get_absolute_url }}" class="btn text-primary">
              {% blocktrans with pro_name=product.name %}
                {{ pro_name }}
               {% endblocktrans %}
              <br>
              <p class='text-black'>
                  &#8358;
                  {% blocktrans with pro_price=product.price %}
                  {{ pro_price }}
                  {% endblocktrans %}
              </p>
            </a>
          </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}