{% extends "shop/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
{% blocktrans with pro_name=product.name %}
 {{ pro_name }}
{% endblocktrans %} 
{% endblock %}

{% block content %}
 <div id="main" class="product-list">
  <h1 >{% if category %}
    {% blocktrans with cat_name=category.name %}
    {{ cat_name }}
    {% endblocktrans %}
    {% else %}{% trans "Products" %}{% endif %}
  </h1>
    {% for product in products %}
    <div class="item">
        <a href="{{ product.get_absolute_url }}">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        </a>
        <br>
        <a href="{{ product.get_absolute_url }}">{% blocktrans with pro_name=product.name %}
          {{ pro_name }}
         {% endblocktrans %}</a>
        <br>
        <span>&#8358;</span>
        {% blocktrans with pro_price=product.price %}
          {{ pro_price }}
        {% endblocktrans %}
    </div>
    {% endfor %}
 </div>
{% endblock %}